
@import '../../scss/helpers/variables.scss';

body {
	font-family: "Didact Gothic ", sans-serif;
}

.page {
  display: flex;
  flex-wrap: wrap;
}
.mainView{
	display: flex;
	text-align: center;
	justify-content: center;
	width: 100%;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.generalContainer {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-bottom: 3rem;
     justify-content: center;
}

.welcomeContainer {
    text-align: center;
    color: #fff;
    padding-top: 8em;
    padding-bottom: 11rem;
    font-family: 'Amatic SC', cursive;
}

.parallaxIndex {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../../images/bitcoin.jpg');
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#gradientContainer {
    background: #FFE57F; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #000066, #FFE57F);/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #000066, #FFE57F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #000066, #FFE57F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #000066, #FFE57F); /* Standard syntax */
}
.gradientContainer {
    background: #FFE57F; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #000066, #FFE57F);/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #000066, #FFE57F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #000066, #FFE57F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #000066, #FFE57F); /* Standard syntax */
        /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Media Queries */
/* Mobile Styles */

@media only screen and (max-width: 780px) {

}


@media only screen and (max-width: 400px) and (max-width: 960px) {
 
}

@media only screen and (max-width: 750) {

}


@media only screen and (max-width: 400px) and (max-width: 960px){

    
}