
@import '../../scss/helpers/variables.scss';

body {
	font-family: "Didact Gothic ", sans-serif;
}

.page {
  display: flex;
  flex-wrap: wrap;
}
.mainView{
	display: flex;
	text-align: center;
	justify-content: center;
	width: 100%;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.generalContainer{
    display: flex;
    flex-direction: row;
}

.welcomeContainer {
     /* margin-top: 5em; */
    text-align: center;
    /* color: #A12325; */
    color: #fff;
padding-top: 8em;
    padding-bottom: 11rem;
    font-family: 'Amatic SC', cursive;
}

.parallaxIndex {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../../images/bitcoin.jpg');
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Media Queries */
/* Mobile Styles */

@media only screen and (max-width: 780px) {

}


@media only screen and (max-width: 400px) and (max-width: 960px) {
 
}

@media only screen and (max-width: 750) {

}


@media only screen and (max-width: 400px) and (max-width: 960px){

    
}